.main {
  display: flex;
  flex-direction: column;
  background-color: #12002b;
  min-height: 100vh;
  .welcome {
    color: #fff;
    margin-bottom: 2rem;
    .buttonWidth {
      width: 90px;
    }
  }
}
