.banner {
  position: relative;
  .img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 0 33%;
    @media (max-width: 920px) {
      height: 300px;
      background-position: 0 -50px;
    }
  }
  .content {
    box-sizing: content-box;
    background: white;
    padding: 2rem;
    text-align: left;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
    @media (max-width: 920px) {
      position: absolute;
      top: 50%;
      right: 50%;
      width: 200px;
      margin: 0 auto;
      transform: translate(50%, -50%);
    }
    .subtitle {
      font-weight: bold;
      font-size: 1.5rem;
      margin: 0;
      @media (max-width: 920px) {
        font-size: 1rem;
      }
    }
    .text {
      margin-top: 1em;
      font-size: 1.2rem;
      @media (max-width: 920px) {
        font-size: 0.9rem;
      }
    }
  }
}
