.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  .logo {
    display: flex;
    align-items: center;
    .img {
      width: 200px;
    }
  }
  .links {
    display: flex;
    gap: 5px;
  }
}
